name: CI
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

  # allow manual runs
  workflow_dispatch:
env:
  PNPM_VERSION: 8.15.9
jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 3
    strategy:
      matrix:
        node: [18]
        package: ["rollup-plugin", "transform", "esbuild-plugin"]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
      - name: install pnpm
        run: npm install -g pnpm@$PNPM_VERSION
      - name: Month and Year (for cache busting)
        id: month-and-year
        shell: bash
        run: |
          echo "::set-output name=date::$(/bin/date -u \"+%Y%m\")"
      - uses: actions/cache@v3
        with:
          path: ~/.pnpm-store
          key: ${{ runner.os }}-${{ matrix.node }}-${{ github.workflow }}-${{ steps.month-and-year.outputs.date }}-${{ hashFiles('./pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.node }}-${{ github.workflow }}-${{ steps.month-and-year.outputs.date }}-
      - name: install deps
        run: pnpm --filter {./packages/${{ matrix.package }}}... install --frozen-lockfile
      - name: build
        run: pnpm --filter {./packages/${{ matrix.package }}}... run build
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 2
    strategy:
      max-parallel: 4
      matrix:
        package: ["rollup-plugin", "transform", "esbuild-plugin"]
        command: ["test:ci"]
        node: [ 16, 18 ]
        include:
          - package: "rollup-plugin"
            command: lint
            node: 18
          - package: "transform"
            command: lint
            node: 18          
          - package: "rollup-plugin"
            command: "format:check"
            node: 18
          - package: "transform"
            command: "format:check"
            node: 18
          - package: "rollup-plugin"
            command: "depcheck"
            node: 18
          - package: "transform"
            command: "depcheck"
            node: 18
          - package: "rollup-plugin"
            command: "type-check"
            node: 18
          - package: "transform"
            command: "type-check"
            node: 18
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
      - name: install pnpm
        run: npm install -g pnpm@$PNPM_VERSION
      - name: Month and Year (for cache busting)
        id: month-and-year
        shell: bash
        run: |
          echo "::set-output name=date::$(/bin/date -u \"+%Y%m\")"
      - uses: actions/cache@v3
        with:
          path: ~/.pnpm-store
          key: ${{ runner.os }}-10-${{ github.workflow }}-${{ steps.month-and-year.outputs.date }}-${{ hashFiles('./pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-10-${{ github.workflow }}-${{ steps.month-and-year.outputs.date }}-
      - name: install deps
        run: pnpm --filter {./packages/${{ matrix.package }}}... install --frozen-lockfile
      - name: build deps
        run: pnpm --filter {./packages/${{ matrix.package }}}^... run build
      - name: ${{ matrix.command }}
        run: pnpm --filter {./packages/${{ matrix.package }}} run ${{ matrix.command }}
      - name: coverage
        uses: codecov/codecov-action@v3
        if: matrix.command == 'test:ci' && matrix.node == '16'
        with:
          flags: ${{ matrix.package }}
          files: ./packages/${{ matrix.package }}/coverage/coverage-final.json
  release:
    if: github.ref == 'refs/heads/main'
    needs: ["test", "build"]
    name: Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: install pnpm
        run: npm install -g pnpm@$PNPM_VERSION
      - name: install deps
        run: pnpm install --frozen-lockfile
      - name: build all
        run: pnpm run -r build
      - name: write .npmrc
        run: printf "//registry.npmjs.org/:_authToken=%s" "$NPM_TOKEN" > ~/.npmrc
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Changesets
        id: Changesets
        uses: changesets/action@v1
        with:
          publish: pnpm run release
          version: pnpm run version
          commit: "release: update versions"
          title: "Pending release"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
