name: Trivy
on:
  pull_request:
    branches: [main]

  # allow manual runs
  workflow_dispatch:
permissions: {}
jobs:
  vuln-scan:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - uses: aquasecurity/trivy-action@0.33.1
        with:
          scan-type: "fs"
          scan-ref: "."
